.title {
    display: flex;
    flex-direction: column;
}

.rootContent {
    margin-bottom: 20px;
    width: 100%;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #CCC;
}

.expandedContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}