
.rowSpec {
    display: flex;
}

.rowCol {
    display: flex;
    flex-direction: column;
}

.input {
    margin-right: 10px;
}

.privateSelection {
    min-width: 400px;
}

.divider {
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background-color: #CCC;
}