
.dialog-container {
    min-width: 600px;
    max-width: 600px;
    width: 600px;
}

@media screen and (max-width: 760px) {
    .dialog-container {
        max-width: 600px;
        min-width: auto;
        width: auto;
    }
}